@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.footer-badge-a, .home-features-wrapper-card-a, .home-project-3-text-a, .home-project-2-text-a, .home-project-1-text-a, .home-section-text-a, .header-hero-a {
  font-weight: 700;
  text-decoration: underline;
  color: #D4D6D4;
  position: relative;
  padding-left: 16px;
  transition: 0.3s;
}
.footer-badge-a:hover, .home-features-wrapper-card-a:hover, .home-project-3-text-a:hover, .home-project-2-text-a:hover, .home-project-1-text-a:hover, .home-section-text-a:hover, .header-hero-a:hover {
  color: #FFD723;
}
.footer-badge-a::after, .home-features-wrapper-card-a::after, .home-project-3-text-a::after, .home-project-2-text-a::after, .home-project-1-text-a::after, .home-section-text-a::after, .header-hero-a::after {
  content: "";
  position: absolute;
  background: url(assets/arrow-grey.png) no-repeat center/contain;
  height: 10px;
  width: 5.6px;
  left: 0;
  top: 6.5px;
  transition: 0.3s;
}
.footer-badge-a:hover::after, .home-features-wrapper-card-a:hover::after, .home-project-3-text-a:hover::after, .home-project-2-text-a:hover::after, .home-project-1-text-a:hover::after, .home-section-text-a:hover::after, .header-hero-a:hover::after {
  background: url(assets/arrow-yellow.png) no-repeat center/contain;
}

.home-project-3-text-title, .home-project-2-text-title, .home-project-1-text-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 134%;
  color: #4D533C;
  padding-bottom: 24px;
}

* {
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  font-weight: normal;
  font-size: 100%;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  color: initial;
  font-family: inherit;
  list-style: none;
  vertical-align: baseline;
  background: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 24px 166px 210px;
  background: url(assets/hero-bg.jpg) no-repeat center/cover;
}
@media screen and (max-width: 1440px) {
  .header {
    padding: 24px 96px 210px;
  }
}
.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding-bottom: 120px;
}
.header-nav-img {
  width: 256px;
  height: 39px;
  cursor: pointer;
}
.header-nav-burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.6px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #F5F6F7;
  cursor: pointer;
  transition: 0.3s;
}
.header-nav-burger:hover {
  background: #FFD723;
}
.header-nav-burger-line {
  width: 18px;
  height: 1.8px;
  background: #000000;
}
.header-menu {
  position: fixed;
  height: 100vh;
  width: 488px;
  background: #ffffff;
  top: 0;
  right: 0;
  padding: 24px;
  box-shadow: -50px 0 100px 0 rgba(0, 0, 0, 0.1490196078);
  z-index: 2;
  transition: 0.3s;
  opacity: 0;
  transform: translate(100%);
}
@media screen and (max-width: 1440px) {
  .header-menu {
    width: 336px;
  }
}
.header-menu-show {
  transform: translate(0);
  opacity: 1;
}
.header-menu-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.header-menu-top-img {
  width: 256px;
  height: 39px;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 768px) {
  .header-menu-top-img {
    display: inline-block;
  }
}
.header-menu-top-burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.6px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #F5F6F7;
  cursor: pointer;
  transition: 0.3s;
}
.header-menu-top-burger:hover {
  background: #FFD723;
}
.header-menu-top-burger-line {
  width: 18px;
  height: 1.8px;
  background: #000000;
  position: relative;
}
.header-menu-top-burger-line:nth-child(1) {
  rotate: -45deg;
  bottom: -5.4px;
}
.header-menu-top-burger-line:nth-child(2) {
  opacity: 0;
}
.header-menu-top-burger-line:nth-child(3) {
  rotate: 45deg;
  top: -5.4px;
}
.header-menu-ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
  gap: 24px;
  padding-top: 36px;
}
.header-menu-ul-li-a {
  font-weight: 700;
  font-size: 28px;
  color: #4D533C;
  transition: 0.3s;
}
.header-menu-ul-li-a:hover {
  color: #FFD723;
}
.header-hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0;
}
.header-hero-subtitle {
  font-size: 14px;
  color: #ffffff;
  padding-bottom: 22px;
}
.header-hero-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 122%;
  color: #ffffff;
  width: 55%;
  padding-bottom: 24px;
}
@media screen and (max-width: 1440px) {
  .header-hero-title {
    width: 70%;
  }
}
.header-hero-descr {
  line-height: 162%;
  color: #ffffff;
  width: 55%;
  padding-bottom: 44px;
}
@media screen and (max-width: 1440px) {
  .header-hero-descr {
    width: 70%;
  }
}
.header-hero-a {
  color: #FFD723;
}
.header-hero-a::after {
  background: url(assets/arrow-yellow.png) no-repeat center/contain;
}
.header-hero-a:hover {
  color: #D4D6D4;
}

.home {
  display: flex;
  flex-direction: column;
  position: relative;
}
.home-brands {
  position: absolute;
  width: calc(100% - 166px);
  z-index: 1;
  transform: translateY(-50%);
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.1490196078);
  padding: 60px 166px 54px 64px;
  right: 0;
}
@media screen and (max-width: 1440px) {
  .home-brands {
    width: calc(100% - 96px);
  }
}
@media screen and (max-width: 1440px) {
  .home-brands {
    padding: 60px 96px 54px 64px;
  }
}
.home-brands-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.home-brands-wrapper-img {
  width: 156px;
  height: 113px;
  opacity: 0.63;
}
@media screen and (max-width: 1440px) {
  .home-brands-wrapper-img {
    width: 132px;
    height: 95.5px;
  }
}
.home-section {
  padding: 0 166px 150px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: start;
  gap: 160px;
}
@media screen and (max-width: 1440px) {
  .home-section {
    padding: 0 96px 150px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    gap: 96px;
  }
}
.home-section-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0;
  width: 50%;
  flex: 1 1 auto;
  padding-top: 244px;
}
@media screen and (max-width: 1440px) {
  .home-section-text {
    padding-top: 176px;
  }
}
.home-section-text-subtitle {
  font-size: 14px;
  color: #4D533C;
  padding-bottom: 30px;
}
.home-section-text-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 128%;
  color: #4D533C;
  padding-bottom: 36px;
}
.home-section-text-title-highlight {
  font-weight: 700;
  color: #4D533C;
  position: relative;
}
.home-section-text-title-highlight::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 47px;
  background: rgba(255, 215, 36, 0.1019607843);
  right: -16px;
  bottom: -6px;
  z-index: -1;
}
.home-section-text-descr {
  line-height: 162%;
  color: rgba(32, 55, 64, 0.6);
  padding-bottom: 42px;
}
.home-section-review {
  width: 50%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.1490196078);
  padding: 244px 40px 60px;
}
@media screen and (max-width: 1440px) {
  .home-section-review {
    padding: 176px 26px 40px;
  }
}
.home-section-review-text {
  font-size: 24px;
  line-height: 166%;
  color: #4D533C;
  padding-bottom: 50px;
  font-style: italic;
}
@media screen and (max-width: 1440px) {
  .home-section-review-text {
    font-size: 20px;
  }
}
.home-section-review-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 30px;
}
.home-section-review-info-img {
  border-radius: 50%;
  box-shadow: 20px 25px 43px 0 rgba(0, 0, 0, 0.1803921569);
}
.home-section-review-info-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 6px;
}
.home-section-review-info-text-name {
  font-weight: 700;
  font-size: 22px;
  color: #4D533C;
}
@media screen and (max-width: 1440px) {
  .home-section-review-info-text-name {
    font-size: 18px;
  }
}
.home-section-review-info-text-descr {
  color: #152934;
}
.home-divider {
  height: 1px;
  width: calc(100% - 332px);
  background: rgba(32, 55, 64, 0.1019607843);
  margin: 0 166px;
}
@media screen and (max-width: 1440px) {
  .home-divider {
    width: calc(100% - 192px);
    margin: 0 96px;
  }
}
.home-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 160px;
  padding: 150px 166px 110px;
}
@media screen and (max-width: 1440px) {
  .home-project {
    padding: 100px 96px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 96px;
  }
}
.home-project-title {
  width: 50%;
  flex: 1 1 auto;
  font-weight: 700;
  font-size: 36px;
  color: #4D533C;
}
.home-project-descr {
  width: 50%;
  flex: 1 1 auto;
  line-height: 162%;
  color: rgba(77, 83, 60, 0.6);
}
.home-project-1 {
  display: flex;
  align-items: center;
  padding: 0 166px 166px 0;
}
@media screen and (max-width: 1440px) {
  .home-project-1 {
    padding: 0 96px 96px 0;
  }
}
.home-project-1-img {
  width: 60%;
  position: relative;
}
.home-project-1-img-image {
  width: 100%;
  height: auto;
}
.home-project-1-img-review {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 24px;
  width: 454px;
  border-radius: 8px;
  box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.1490196078);
  background: #ffffff;
  z-index: 1;
  right: -40px;
  bottom: -66px;
  padding: 30px;
}
.home-project-1-img-review-text {
  font-style: italic;
  line-height: 162%;
  color: #4D533C;
}
.home-project-1-img-review-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 14px;
}
.home-project-1-img-review-info-img {
  box-shadow: 20px 25px 43px 0 rgba(0, 0, 0, 0.1803921569);
  border-radius: 50%;
}
.home-project-1-img-review-info-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 4px;
}
.home-project-1-img-review-info-text-name {
  font-weight: 700;
  color: #4D533C;
}
.home-project-1-img-review-info-text-descr {
  font-size: 14px;
  color: #152934;
}
.home-project-1-text {
  flex-shrink: 1;
  padding-left: 96px;
  display: flex;
  flex-direction: column;
}
.home-project-1-text-descr {
  line-height: 162%;
  color: rgba(77, 83, 60, 0.6);
  padding-bottom: 26px;
}
.home-project-1-text-a {
  margin-top: 64px;
}
@media screen and (max-width: 1440px) {
  .home-project-1-text-a {
    margin-top: 0;
  }
}
.home-project-2 {
  padding: 0 0 136px 166px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .home-project-2 {
    padding: 0 0 96px 96px;
  }
}
.home-project-2-text {
  padding-right: 96px;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0;
}
.home-project-2-text-descr {
  line-height: 162%;
  color: rgba(77, 83, 60, 0.6);
  padding-bottom: 26px;
}
.home-project-2-text-a {
  margin-top: 64px;
}
@media screen and (max-width: 1440px) {
  .home-project-2-text-a {
    margin-top: 0;
  }
}
.home-project-2-img {
  width: 60%;
  position: relative;
}
.home-project-2-img-image {
  width: 100%;
  height: auto;
}
.home-project-2-img-review {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 24px;
  width: 454px;
  border-radius: 8px;
  box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.1490196078);
  background: #ffffff;
  z-index: 1;
  left: -40px;
  bottom: -36px;
  padding: 30px;
}
.home-project-2-img-review-text {
  font-style: italic;
  line-height: 162%;
  color: #4D533C;
}
.home-project-2-img-review-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 14px;
}
.home-project-2-img-review-info-img {
  box-shadow: 20px 25px 43px 0 rgba(0, 0, 0, 0.1803921569);
  border-radius: 50%;
}
.home-project-2-img-review-info-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 4px;
}
.home-project-2-img-review-info-text-name {
  font-weight: 700;
  color: #4D533C;
}
.home-project-2-img-review-info-text-descr {
  font-size: 14px;
  color: #152934;
}
.home-project-3 {
  display: flex;
  align-items: center;
  padding: 0 166px 150px 0;
}
@media screen and (max-width: 1440px) {
  .home-project-3 {
    padding: 0 96px 96px 0;
  }
}
.home-project-3-img {
  width: 60%;
  position: relative;
}
.home-project-3-img-image {
  width: 100%;
  height: auto;
}
.home-project-3-img-review {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 24px;
  width: 454px;
  border-radius: 8px;
  box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.1490196078);
  background: #ffffff;
  z-index: 1;
  right: -40px;
  bottom: -40px;
  padding: 30px;
}
.home-project-3-img-review-text {
  font-style: italic;
  line-height: 162%;
  color: #4D533C;
}
.home-project-3-img-review-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 14px;
}
.home-project-3-img-review-info-img {
  box-shadow: 20px 25px 43px 0 rgba(0, 0, 0, 0.1803921569);
  border-radius: 50%;
}
.home-project-3-img-review-info-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 4px;
}
.home-project-3-img-review-info-text-name {
  font-weight: 700;
  color: #4D533C;
}
.home-project-3-img-review-info-text-descr {
  font-size: 14px;
  color: #152934;
}
.home-project-3-text {
  flex-shrink: 1;
  padding-left: 96px;
  display: flex;
  flex-direction: column;
}
.home-project-3-text-descr {
  line-height: 162%;
  color: rgba(77, 83, 60, 0.6);
  padding-bottom: 26px;
}
.home-project-3-text-a {
  margin-top: 64px;
}
@media screen and (max-width: 1440px) {
  .home-project-3-text-a {
    margin-top: 0;
  }
}
.home-features {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 60px;
  padding: 150px 166px 322px;
}
@media screen and (max-width: 1440px) {
  .home-features {
    padding: 96px 96px 166px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 40px;
  }
}
.home-features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 128%;
  color: #4D533C;
  width: 55%;
}
.home-features-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.home-features-wrapper-card {
  display: flex;
  flex-direction: column;
  padding: 26px 30px 36px;
}
@media screen and (max-width: 1440px) {
  .home-features-wrapper-card {
    padding: 26px 0 36px;
  }
}
.home-features-wrapper-card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 142%;
  text-transform: uppercase;
  color: #4D533C;
  padding-bottom: 20px;
}
.home-features-wrapper-card-descr {
  font-size: 14px;
  line-height: 186%;
  color: rgba(77, 83, 60, 0.6);
  padding-bottom: 30px;
  flex-grow: 1;
}
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 310px 166px 30px;
  background: url(assets/footer-bg.jpg) no-repeat center/cover;
}
@media screen and (max-width: 1440px) {
  .footer {
    padding: 166px 96px 20px;
  }
}
.footer-badge {
  position: absolute;
  width: calc(100% - 166px);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 70px 166px;
  background: #FAFAFA;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  box-shadow: 50px 130px 100px 0 rgba(0, 0, 0, 0.1490196078);
}
@media screen and (max-width: 1440px) {
  .footer-badge {
    width: calc(100% - 96px);
    padding: 50px 96px;
  }
}
.footer-badge-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 124%;
  color: #4D533C;
}
@media screen and (max-width: 1440px) {
  .footer-badge-title {
    font-size: 48px;
  }
}
.footer-top {
  display: flex;
  padding-bottom: 52px;
  gap: 128px;
}
@media screen and (max-width: 1440px) {
  .footer-top {
    padding-bottom: 28px;
    gap: 76px;
  }
}
.footer-top-row {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 8px;
}
.footer-top-row-text {
  line-height: 250%;
  color: #B6C197;
}
.footer-top-row-a {
  font-weight: 700;
  line-height: 250%;
  color: #ffffff;
  transition: 0.3s;
}
.footer-top-row-a:hover {
  color: #FFD723;
}
.footer-divider {
  width: 100%;
  height: 1px;
  background: #5D6544;
}
.footer-main {
  display: grid;
  padding: 60px 0 60px;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  gap: 70px;
}
@media screen and (max-width: 1440px) {
  .footer-main {
    gap: 36px;
    padding: 28px 0 28px;
  }
}
.footer-main-row {
  display: flex;
  flex-direction: column;
}
.footer-main-row:nth-child(3) {
  border-right: 1px solid #5D6544;
}
.footer-main-row-text {
  font-weight: 600;
  line-height: 236%;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}
.footer-main-row-a {
  line-height: 250%;
  color: #B6C197;
  transition: 0.3s;
}
.footer-main-row-a:hover {
  color: #FFD723;
}
.footer-main-social {
  display: flex;
  flex-direction: column;
}
.footer-main-social-text {
  font-size: 16px;
  line-height: 236%;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 24px;
}
.footer-main-social-descr {
  line-height: 162%;
  color: #B6C197;
  padding-bottom: 24px;
}
.footer-main-social-a {
  font-weight: 700;
  font-size: 24px;
  line-height: 158%;
  color: #ffffff;
  padding-bottom: 24px;
  transition: 0.3s;
}
.footer-main-social-a:hover {
  color: #FFD723;
}
.footer-main-social-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
}
.footer-main-social-wrapper-img {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background: #444A34;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  transition: 0.3s;
  cursor: pointer;
}
.footer-main-social-wrapper-img:hover {
  background: #FFD723;
}
.footer-main-social-wrapper-img:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(assets/facebook-green.png) no-repeat center/contain;
  transition: 0.3s;
}
.footer-main-social-wrapper-img:nth-child(1):hover::after {
  background: url(assets/facebook-white.png) no-repeat center/contain;
}
.footer-main-social-wrapper-img:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(assets/twitter-green.png) no-repeat center/contain;
  transition: 0.3s;
}
.footer-main-social-wrapper-img:nth-child(2):hover::after {
  background: url(assets/twitter-white.png) no-repeat center/contain;
}
.footer-main-social-wrapper-img:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(assets/google-green.png) no-repeat center/contain;
  transition: 0.3s;
}
.footer-main-social-wrapper-img:nth-child(3):hover::after {
  background: url(assets/google-white.png) no-repeat center/contain;
}
.footer-main-social-wrapper-img:nth-child(4)::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(assets/linkedin-green.png) no-repeat center/contain;
  transition: 0.3s;
}
.footer-main-social-wrapper-img:nth-child(4):hover::after {
  background: url(assets/linkedin-white.png) no-repeat center/contain;
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  border-top: 1px solid #5D6544;
  padding: 24px 0 0;
}
.footer-bottom-img {
  width: 200px;
  height: 35px;
}
.footer-bottom-text {
  font-size: 14px;
  color: #B6C197;
}