@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$white: #ffffff;
$green: #B6C197;
$green-light: #B5C096;
$green-dark-60: #4d533c99;
$green-dark: #4D533C;
$green-dark-social: #444A34;
$green-dark-divider: #5D6544;
$grey-light: #D4D6D4;
$grey-light-burger: #F5F6F7;
$grey-light-footer: #FAFAFA;
$yellow: #FFD723;
$yellow10: #ffd7241a;
$blue60: #20374099;
$blue10: #2037401a;
$blue-dark: #152934;
$black: #000000;
$black15: #00000026;
$black18: #0000002e;

%link-underline {
    font-weight: 700;
    text-decoration: underline;
    color: $grey-light;
    position: relative;
    padding-left: 16px;
    transition: .3s;

    &:hover {
        color: $yellow;
    }

    &::after {
        content: "";
        position: absolute;
        background: url(assets/arrow-grey.png) no-repeat center/contain;
        height: 10px;
        width: 5.6px;
        left: 0;
        top: 6.5px;
        transition: .3s;
    }

    &:hover::after {
        background: url(assets/arrow-yellow.png) no-repeat center/contain;
    }
}

%project-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 134%;
    color: $green-dark;
    padding-bottom: 24px;
}

%project-info {
    &-info {
        @include flex(row, center, start, 14px);

        &-img {
            box-shadow: 20px 25px 43px 0 $black18;
            border-radius: 50%;
        }

        &-text {
            @include flex(column, start, start, 4px);

            &-name {
                font-weight: 700;
                color: $green-dark;
            }

            &-descr {
                font-size: 14px;
                color: $blue-dark;
            }
        }
    }
}

@mixin flex($fxd: row, $ai: center, $jc: center, $g: 0) {
    display: flex;
    flex-direction: $fxd;
    align-items: $ai;
    justify-content: $jc;
    gap: $g;
}

* {
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    font-weight: normal;
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    color: initial;
    font-family: inherit;
    list-style: none;
    vertical-align: baseline;
    background: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 24px 166px 210px;
    background: url(assets/hero-bg.jpg) no-repeat center/cover;

    &-nav {
        @include flex(row, center, space-between, 0);
        padding-bottom: 120px;

        &-img {
            width: 256px;
            height: 39px;
            cursor: pointer;
        }

        &-burger {
            @include flex(column, center, center, 3.6px);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background: $grey-light-burger;
            cursor: pointer;
            transition: .3s;

            &:hover {
                background: $yellow;
            }

            &-line {
                width: 18px;
                height: 1.8px;
                background: $black;
            }
        }
    }

    &-menu {
        position: fixed;
        height: 100vh;
        width: 488px;
        background: $white;
        top: 0;
        right: 0;
        padding: 24px;
        box-shadow: -50px 0 100px 0 $black15;
        z-index: 2;
        transition: .3s;
        opacity: 0;
        transform: translate(100%);

        &-show {
            transform: translate(0);
            opacity: 1;
        }

        &-top {
            @include flex(row, center, space-between, 0);

            &-img {
                width: 256px;
                height: 39px;
                cursor: pointer;
            }

            &-burger {
                @include flex(column, center, center, 3.6px);
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background: $grey-light-burger;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    background: $yellow;
                }

                &-line {
                    width: 18px;
                    height: 1.8px;
                    background: $black;
                    position: relative;

                    &:nth-child(1) {
                        rotate: -45deg;
                        bottom: -5.4px;
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        rotate: 45deg;
                        top: -5.4px;
                    }
                }
            }
        }

        &-ul {
            @include flex(column, end, start, 24px);
            padding-top: 36px;

            &-li {
                &-a {
                    font-weight: 700;
                    font-size: 28px;
                    color: $green-dark;
                    transition: .3s;

                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }

    &-hero {
        @include flex(column, start, start, 0);

        &-subtitle {
            font-size: 14px;
            color: $white;
            padding-bottom: 22px;
        }

        &-title {
            font-weight: 700;
            font-size: 60px;
            line-height: 122%;
            color: $white;
            width: 55%;
            padding-bottom: 24px;
        }

        &-descr {
            line-height: 162%;
            color: $white;
            width: 55%;
            padding-bottom: 44px;
        }

        &-a {
            @extend %link-underline;
            color: $yellow;

            &::after {
                background: url(assets/arrow-yellow.png) no-repeat center/contain;
            }

            &:hover {
                color: $grey-light;
            }
        }
    }
}

.home {
    display: flex;
    flex-direction: column;
    position: relative;

    &-brands {
        position: absolute;
        width: calc(100% - 166px);
        z-index: 1;
        transform: translateY(-50%);
        background: $white;
        border-radius: 2px;
        box-shadow: 50px 50px 100px 0 $black15;
        padding: 60px 166px 54px 64px;
        right: 0;

        &-wrapper {
            @include flex(row, center, space-between, 0);

            &-img {
                width: 156px;
                height: 113px;
                opacity: 0.63;
            }
        }
    }

    &-section {
        padding: 0 166px 150px;
        @include flex(row, end, start, 160px);

        &-text {
            @include flex(column, start, start, 0);
            width: 50%;
            flex: 1 1 auto;
            padding-top: 244px;

            &-subtitle {
                font-size: 14px;
                color: $green-dark;
                padding-bottom: 30px;
            }

            &-title {
                font-weight: 700;
                font-size: 36px;
                line-height: 128%;
                color: $green-dark;
                padding-bottom: 36px;

                &-highlight {
                    font-weight: 700;
                    color: $green-dark;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 240px;
                        height: 47px;
                        background: $yellow10;
                        right: -16px;
                        bottom: -6px;
                        z-index: -1;
                    }
                }
            }

            &-descr {
                line-height: 162%;
                color: $blue60;
                padding-bottom: 42px;
            }

            &-a {
                @extend %link-underline;
            }
        }

        &-review {
            width: 50%;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            box-shadow: 0 100px 100px 0 $black15;
            padding: 244px 40px 60px;

            &-text {
                font-size: 24px;
                line-height: 166%;
                color: $green-dark;
                padding-bottom: 50px;
                font-style: italic;
            }

            &-info {
                @include flex(row, center, start, 30px);

                &-img {
                    border-radius: 50%;
                    box-shadow: 20px 25px 43px 0 $black18;
                }

                &-text {
                    @include flex(column, start, start, 6px);

                    &-name {
                        font-weight: 700;
                        font-size: 22px;
                        color: $green-dark;
                    }

                    &-descr {
                        color: $blue-dark;
                    }
                }
            }
        }
    }

    &-divider {
        height: 1px;
        width: calc(100% - 166px*2);
        background: $blue10;
        margin: 0 166px;
    }

    &-project {
        @include flex(row, center, start, 160px);
        padding: 150px 165px 110px;

        &-title {
            width: 50%;
            flex: 1 1 auto;
            font-weight: 700;
            font-size: 36px;
            color: $green-dark;
        }

        &-descr {
            width: 50%;
            flex: 1 1 auto;
            line-height: 162%;
            color: $green-dark-60;
        }

        &-1 {
            display: flex;
            align-items: center;
            padding: 0 166px 166px 0;

            &-img {
                width: 60%;
                position: relative;

                &-image {
                    width: 100%;
                    height: auto;
                }

                &-review {
                    position: absolute;
                    @include flex(column, start, start, 24px);
                    width: 454px;
                    border-radius: 8px;
                    box-shadow: 50px 50px 100px 0 $black15;
                    background: $white;
                    z-index: 1;
                    right: -40px;
                    bottom: -66px;
                    padding: 30px;

                    &-text {
                        font-style: italic;
                        line-height: 162%;
                        color: $green-dark;
                    }

                    @extend %project-info;
                }
            }

            &-text {
                flex-shrink: 1;
                padding-left: 96px;
                display: flex;
                flex-direction: column;

                &-title {
                    @extend %project-title;
                }

                &-descr {
                    line-height: 162%;
                    color: $green-dark-60;
                    padding-bottom: 26px;
                }

                &-a {
                    margin-top: 64px;
                    @extend %link-underline;
                }
            }
        }

        &-2 {
            padding: 0 0 136px 166px;
            display: flex;
            align-items: center;

            &-text {
                padding-right: 96px;
                flex-shrink: 1;
                @include flex(column, start, start, 0);

                &-title {
                    @extend %project-title;
                }

                &-descr {
                    line-height: 162%;
                    color: $green-dark-60;
                    padding-bottom: 26px;
                }

                &-a {
                    margin-top: 64px;
                    @extend %link-underline;
                }
            }

            &-img {
                width: 60%;
                position: relative;

                &-image {
                    width: 100%;
                    height: auto;
                }

                &-review {
                    position: absolute;
                    @include flex(column, start, start, 24px);
                    width: 454px;
                    border-radius: 8px;
                    box-shadow: 50px 50px 100px 0 $black15;
                    background: $white;
                    z-index: 1;
                    left: -40px;
                    bottom: -36px;
                    padding: 30px;

                    &-text {
                        font-style: italic;
                        line-height: 162%;
                        color: $green-dark;
                    }

                    @extend %project-info;
                }
            }
        }

        &-3 {
            display: flex;
            align-items: center;
            padding: 0 166px 150px 0;

            &-img {
                width: 60%;
                position: relative;

                &-image {
                    width: 100%;
                    height: auto;
                }

                &-review {
                    position: absolute;
                    @include flex(column, start, start, 24px);
                    width: 454px;
                    border-radius: 8px;
                    box-shadow: 50px 50px 100px 0 $black15;
                    background: $white;
                    z-index: 1;
                    right: -40px;
                    bottom: -40px;
                    padding: 30px;

                    &-text {
                        font-style: italic;
                        line-height: 162%;
                        color: $green-dark;
                    }

                    @extend %project-info;
                }
            }

            &-text {
                flex-shrink: 1;
                padding-left: 96px;
                display: flex;
                flex-direction: column;

                &-title {
                    @extend %project-title;
                }

                &-descr {
                    line-height: 162%;
                    color: $green-dark-60;
                    padding-bottom: 26px;
                }

                &-a {
                    margin-top: 64px;
                    @extend %link-underline;
                }
            }
        }
    }

    &-features {
        @include flex(column, start, start, 60px);
        padding: 150px 166px 322px;
        gap: 60px;

        &-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 128%;
            color: $green-dark;
            width: 55%;
        }

        &-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 30px;

            &-card {
                display: flex;
                flex-direction: column;
                padding: 26px 30px 36px;

                &-title {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 142%;
                    text-transform: uppercase;
                    color: $green-dark;
                    padding-bottom: 20px;
                }

                &-descr {
                    font-size: 14px;
                    line-height: 186%;
                    color: $green-dark-60;
                    padding-bottom: 30px;
                    flex-grow: 1;
                }

                &-a {
                    @extend %link-underline;
                }
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 310px 166px 30px;
    background: url(assets/footer-bg.jpg) no-repeat center/cover;

    &-badge {
        position: absolute;
        width: calc(100% - 166px);
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 70px 166px;
        background: $grey-light-footer;
        left: 0;
        top: 0;
        transform: translateY(-50%);
        box-shadow: 50px 130px 100px 0 $black15;

        &-title {
            font-weight: 700;
            font-size: 60px;
            line-height: 124%;
            color: $green-dark;
        }

        &-a {
            @extend %link-underline;
        }
    }

    &-top {
        display: flex;
        padding-bottom: 52px;
        gap: 128px;

        &-row {
            @include flex(column, start, start, 8px);

            &-text {
                line-height: 250%;
                color: $green;
            }

            &-a {
                font-weight: 700;
                line-height: 250%;
                color: $white;
                transition: .3s;

                &:hover {
                    color: $yellow
                }
            }
        }
    }

    &-divider {
        width: calc(100% - 166px*2);
        margin-left: 166px;
        height: 1px;
        background: $green-dark-divider;
    }

    &-main {
        display: grid;
        padding-top: 60px;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        gap: 70px;
        padding-bottom: 60px;

        &-row {
            display: flex;
            flex-direction: column;

            &:nth-child(3) {
                border-right: 1px solid $green-dark-divider;
            }

            &-text {
                font-weight: 600;
                line-height: 236%;
                text-transform: uppercase;
                color: $white;
                padding-bottom: 20px;
            }

            &-a {
                line-height: 250%;
                color: $green;
                transition: .3s;

                &:hover {
                    color: $yellow
                }
            }
        }

        &-social {
            display: flex;
            flex-direction: column;

            &-text {
                font-size: 16px;
                line-height: 236%;
                text-transform: uppercase;
                color: $white;
                padding-bottom: 24px;
            }

            &-descr {
                line-height: 162%;
                color: $green;
                padding-bottom: 24px;
            }

            &-a {
                font-weight: 700;
                font-size: 24px;
                line-height: 158%;
                color: $white;
                padding-bottom: 24px;
                transition: .3s;

                &:hover {
                    color: $yellow
                }
            }

            &-wrapper {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 14px;

                &-img {
                    border-radius: 50%;
                    width: 34px;
                    height: 34px;
                    background: $green-dark-social;
                    position: relative;
                    @include flex(row, center, center, 0);
                    transition: .3s;
                    cursor: pointer;

                    &:hover {
                        background: $yellow;
                    }

                    &:nth-child(1)::after {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background: url(assets/facebook-green.png) no-repeat center/contain;
                        transition: .3s;
                    }

                    &:nth-child(1) {
                        &:hover::after {
                            background: url(assets/facebook-white.png) no-repeat center/contain;
                        }
                    }

                    &:nth-child(2)::after {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background: url(assets/twitter-green.png) no-repeat center/contain;
                        transition: .3s;
                    }

                    &:nth-child(2) {
                        &:hover::after {
                            background: url(assets/twitter-white.png) no-repeat center/contain;
                        }
                    }

                    &:nth-child(3)::after {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background: url(assets/google-green.png) no-repeat center/contain;
                        transition: .3s;
                    }

                    &:nth-child(3) {
                        &:hover::after {
                            background: url(assets/google-white.png) no-repeat center/contain;
                        }
                    }

                    &:nth-child(4)::after {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background: url(assets/linkedin-green.png) no-repeat center/contain;
                        transition: .3s;
                    }

                    &:nth-child(4) {
                        &:hover::after {
                            background: url(assets/linkedin-white.png) no-repeat center/contain;
                        }
                    }
                }
            }
        }
    }

    &-bottom {
        @include flex(row, center, space-between, 0);
        border-top: 1px solid $green-dark-divider;
        padding: 24px 0 0;

        &-img {
            width: 200px;
            height: 35px;
        }

        &-text {
            font-size: 14px;
            color: $green;
        }
    }
}